Plurtaku/Plurtaku.xcodeproj/project.xcworkspace/xcuserdata/ak2840.xcuserdatad/UserInterfaceState.xcuserstate
Plurtaku/Plurtaku.xcodeproj/xcuserdata/ak2840.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Plurtaku/Plurtaku.xcodeproj/xcuserdata/ak2840.xcuserdatad/xcschemes/Plurtaku.xcscheme
Plurtaku/Plurtaku.xcodeproj/xcuserdata/ak2840.xcuserdatad/xcschemes/xcschememanagement.plist
